.inicio-container {
  padding: 20px;
}

.anuncio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 300px;
  margin-top: 2px;
}

.anuncio {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  transition: transform 0.2s ease;
}

.anuncio:hover {
  transform: scale(1.05);
}

.anuncio-imagen {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.anuncio-detalles {
  padding: 10px;
}

.detalles-peque単os {
  font-size: 12px; /* Tama単o de texto peque単o */
  color: #555;
  margin-top: 10px;
}

.detalles-peque単os p {
  margin: 1px 0;
}

  