/* Registro.css */

.registrar-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.registrar-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
}

.registrar-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}

.label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.date-inputs {
    display: flex;
    gap: 5px;
}

.date-input {
    flex: 0.3; /* Ajusta el tamaño de los inputs de fecha */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
